{% extends 'base.html' %}

{% block title %} Apple {% endblock %}

{% block content %}
    <div class="z-index">

        <a href="index.html"><p class="deda5">Apple Car</p></a>

        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="div2">
            <center>
                <h1 class="glonti"><a class="la2003">The World's Fastest.</a>
                    <p class="lasha">SERIES 1</p></h1>
            </center>


        </div>
    </div>


    <div class="kac1">
        <br>
        <center><h1 id="kac">History of Apple</h1></center>
        <p id="kac2">Apple Computers, Inc. was founded on April 1, 1976, by college dropouts Steve Jobs and Steve
            Wozniak,
            who brought to the new company a vision of changing the way people viewed computers. Jobs and Wozniak wanted
            to
            make computers small enough for people to have them in their homes or offices. Simply put, they wanted a
            computer that was user-friendly.
            <br>


            Jobs and Wozniak started out building the Apple I in Jobs' garage and sold them without a monitor, keyboard,
            or
            casing (which they decided to add on in 1977). The Apple II revolutionized the computer industry with the
            introduction of the first-ever color graphics. Sales jumped from $7.8 million in 1978 to $117 million in
            1980,
            the year Apple went public.
            <br>

            Wozniak left Apple in 1983 due to a diminishing interest in the day-to-day running of Apple Computers. Jobs
            then
            hired PepsiCo's John Sculley to be president. However, this move backfired and after much controversy with
            Sculley, Jobs left in 1985 and went on to new and bigger things. He founded his own company NeXT Software
            and he
            also bought Pixar from George Lucas, which would later become a huge success in computer animation of such
            movies as Toy Story, A Bug's Life, Monsters, Inc., and Finding Nemo.
            <br>
            Through the rest of the 1980s, Apple was still doing well and in 1990 it posted its highest profits yet.
            This
            was, however, mostly due to the plans that Jobs had already set in motion before he left, most notably his
            deal
            with a tiny company by the name of Adobe, creator of the Adobe Portable Document Format (PDF). Together the
            two
            companies created the phenomenon known as desktop publishing.
            <br>
            Back in 1985 Sculley turned down an appeal from Microsoft founder Bill Gates to license its software. This
            decision would later come back to haunt him because Microsoft, whose Windows operating system (OS) featured
            a
            graphical interface similar to Apple's, became their toughest competition in the late 1980s and throughout
            the
            1990s.

            <br>
            Over the course of a few years, Apple's market share suffered slowly after its peak in 1990 and by 1996,
            experts
            believed the company to be doomed. It was not until 1997, when Apple was desperately in need of an operating
            system, that it bought out NeXT Software (Jobs' company) and the board of directors decided to ask for some
            help
            from an old friend: Steve Jobs. Jobs became an interim CEO, or iCEO as he called himself (Jobs was not
            officially the CEO until 2000). Jobs decided to make some changes around Apple. He forged an alliance with
            Microsoft to create a Mac version of its popular office software. Not long after this decision was the
            turning
            point for the company. Jobs revamped the computers and introduced the iBook (a personal laptop) followed by
            iPod, an mp3 player, which became market leader.
            <br>
            The iPhone, a touch screen cellular phone, introduced in 2007 was one of the world' most successful products
            and
            the company has released several new versions since. Other popular products include iPad tablet and Apple
            Watch.
            Most recently Apple has expanded its services segments with its credit card (Apple Card), Apple News for
            news,
            Apple Arcade for games and the Apple TV+ for streaming original content produced by Apple.Steve Jobs died
            October 5, 2011, but Apple continues on with his legacy with Tim Cook at the helm as the CEO. The popularity
            of
            iPhones made Apple the first company valued at one trillion dollars in 2018 and two years later it doubled
            that
            figure.

            <br>Apple continues to operate today and it is the most prestigious and developed brand.<br>

        </p>


    </div>

    <div class="luka">
        <img class="cotne1" src="deda4.jpg">
    </div>

    <div id="deda">
        <br>
        <br>
        <center><h1 id="deda1">Apple Mac</h1></center>

        <p class="deda6">why Mac? Easy to learn. Astoundingly powerful. And designed to let you work, play, and create
            in
            ways you never imagined. It’s the computer that comes packed with apps that are ready to go right out of the
            box. Free, regular software updates keep things up to date and running smoothly. And if you already have an
            iPhone, it feels familiar from the moment you turn it on.
            <br>
            <br>
            Here are the different models of the brand, if you want to find out more or buy a product, just click on the
            computer you want.
            also you can visit this page-
            <br> <a class="r4" href="https://www.amazon.com/s?k=Apple+Mac&ref=nb_sb_noss" target="_blank">https://www.amazon.com/s?k=Apple+Mac&ref=nb_sb_noss</a>
        </p>
        <br>
        <br>

        <br>
        <div class="maka">
            <a href="https://www.amazon.com/dp/B08N7NV2KB/ref=fs_a_mbt2_us2" target="_blank"><img class="mari"
                                                                                                  src="static/mari1.png"></a>
            <a href="https://www.amazon.com/dp/B08N7NV2KB/ref=fs_a_mbt2_us2" target="_blank"><img class="mari2"
                                                                                                  src="static/mari2.png"></a>
            <a href="https://www.amazon.com/Apple-iMac-21-5-inch-256GB-Storage/dp/B08F92GZG7/ref=sr_1_5?keywords=Apple+Mac&qid=1651236305&sr=8-5"
               target="_blank"><img class="mari3" src="static/mari3.png"></a>

        </div>
        <br>
        <br>
        <div class="maka1">
            <a href="https://www.amazon.com/Apple-Retina-Display-27-inch-Storage/dp/B08F8ZPRGW" target="_blank"><img
                    class="luka1" src="static/lizi1.png"></a>
            <a href="https://www.amazon.com/Apple-MacBook-16-Inch-512GB-Storage/dp/B081FZV45H/ref=sr_1_17?keywords=Apple%2BMac&qid=1651244577&sr=8-17&th=1"
               target="_blank"><img class="luka2" src="static/lizi3.png"></a>
            <a href="https://www.amazon.com/Apple-MacBook-13-inch-256GB-Storage/dp/B0873TFXQX/ref=sr_1_58?keywords=Apple+Mac&qid=1651244827&sr=8-58"
               target="_blank"><img class="luka3" src="static/lizi5.png"></a>

        </div>
        <br>
        <br>
    </div>
{% endblock %}